<% provide(:title, 'All users') %>
<h1>すべてのユーザー</h1>

<%= will_paginate %>

<ul class="users">
  <!-- renderにすると_user.html.erbという名前のパーシャルを直接探しに行く -->
  <!-- 「render user」ではなく「render @users」にすることで「@users.each do |user|」は@usersをUserオブジェクトのリストだとRailsは推測する -->
  <%= render @users %>
</ul>

<%= will_paginate %>
